* {
    margin: 0;
    padding: 0;
}


body {
    background-image: url(/assets/img/backgroundMain.svg);
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white !important;
}

#logoAE {
    height: 2rem;
}

.navbar {
    background-color: rgb(0 0 0 / 64%);
}

.header-img {
    height: 50vh;
    object-fit: cover;
    background-position: center
}

.header-img-contact {
    height: 27.2vh !important;
}

.header-img-stats {
    height: 27.2vh !important;
}

.carousel-caption {
    bottom: 8.25rem;
}

.carousel-caption-contact {
    bottom: 3.25rem !important;
}

.carousel-caption-stats {
    bottom: 3.25rem !important;
}

.input-search {
    max-width: 18rem;
    padding: 1rem;
}

.display-1 {
    text-shadow: 5px 5px #533483;
    font-weight: 700;
    background-image: url(/assets/img/fondoHeader.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .9;
}

.imgCards {
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

@media screen and (max-width:768px) {
    .img-fluid {
        width: 100%;
        border-radius: 1rem;
    }
}

.imgPast {
    filter: grayscale();
}

.active {
    background-color: #E94560 !important;
}

.card {
    background: rgba(255, 255, 255, 0.57);
    border-radius: 16px;
    border: none;
    transition: .5s;
    padding: 10px;

}

.card:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

main {
    backdrop-filter: blur(100px);
}

footer {
    background-color: rgba(17, 25, 40, 0.64);
}

@media screen and (max-width:1200px) {
    footer {
        height: 6rem;
    }
}

.bi {
    color: white;
}

label {
    color: white;
}

.containerForm {
    max-width: 85rem;
    background: rgba(15, 52, 96, 0.64);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
}

.form-control {
    border-radius: 0;
}

#basic-addon1 {
    background: transparent;
    border: none;
}

#inputSearch {
    border: 1px solid white;
    background: rgba(15, 52, 96, 0.64);
    backdrop-filter: blur(8.5px);
}

.text-bg-myK {
    background-color: #533483;
}

.mainForm {
    background-color: #16213E;
}

.mainStats {
    background-color: #0F3460;
}

.table-mystyle {
    background-color: #16213E;
    color: white;
}

.bodyPast {
    background-image: url(/assets/img/backgroundPast.svg);
}

.bodyUpcoming {
    background-image: url(/assets/img/backgroundFuture.svg);
}

.item-no-select:after {
    border-bottom: 3px solid #E94560;
    content: "";
    display: block;
    margin: 0.25em auto 0;
    transition: width 250ms ease-in-out 0s;
    width: 0;
}

.item-no-select:hover:after {
    transition: width 100ms ease-in-out 0s;
    width: 50%;
}

.bi-instagram:hover {
    border-radius: 30px;
    color: #fff;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}

.bi-facebook:hover {
    color: #4267B2;
}

.bi-whatsapp:hover {
    color: #25D366;
}

.form-check-input {
    background-color: transparent;
}

.form-check-input:checked {
    background-color: #865DFF;
    border-color: #865DFF;
}

.form-check-input:focus {
    background-color: #865DFF;
    box-shadow: 0 0 0 0.2rem rgba(200, 0, 255, 0.25);
}


.form-control:focus {
    border-color: #865DFF;
    box-shadow: 0 0 0 0.2rem rgba(200, 0, 255, 0.679);
}


#inputSearch:hover {
    box-shadow: 0 0 0 0.2rem rgba(200, 0, 255, 0.679);
}

.bi-search:hover {
    color: #865DFF;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

#btn-submit {
    transition: all .5s ease;
    background-color: #865DFF;
}

#btn-submit:hover {
    color: #865DFF;
    ;
    background-color: #fff;
    font-weight: 700;
}

.btn-circle {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: block;
}

.date {
    background-color: #fff;
    border-radius: 50%;
    color: #700877;
    font-size: 18px;
    font-weight: 700;
    min-height: 48px;
    min-width: 57px;
    padding: 10px 0;
    position: absolute;
    right: 7px;
    text-align: center;
    text-transform: uppercase;
    top: 5px;
    z-index: 1;
}

.date span {
    display: block;
    line-height: 13px;
}

.date .month {
    font-size: 11px;
}

.date .year {
    font-size: 11px;
}

/*Card Details*/


.card-details {
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    border-radius: 10px;
    margin: 0 0 2rem 0;
    overflow: hidden;
    position: relative;
}

.img-details {
    clip-path: polygon(0 0, 100% 0%, 93% 100%, 0% 100%);
}

@media screen and (max-width:768px) {
    .img-details {
        clip-path: none;
    }
}

.container-text-details {
    color: #18151f;
}

.card-text-p {
    text-align: justify;
}

.text-secondary {
    color: #EEEEEE !important;
}

h2.display-6 {
    text-shadow: 5px 5px #533483 !important;
}

.display-6.text-not {
    text-shadow: 5px 5px #E94560;
}


.btn-outline-success {
    --bs-btn-color: #372B5A;
    --bs-btn-border-color: #372B5A;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #372B5A;
    --bs-btn-hover-border-color: #372B5A;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #372B5A;
    --bs-btn-active-border-color: #372B5A;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #372B5A;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #372B5A;
    --bs-gradient: none;

}

a.nav-link.active {
    background-color: transparent !important;
    border: 3px solid transparent;
    border-image: linear-gradient(to right, #E94560, #3D2958) 1;
    border-image-slice: 1;
}

a.nav-link.active:hover {
    background: rgb(233, 69, 96);
    background: linear-gradient(90deg, rgba(233, 69, 96, 1) 0%, rgba(55, 42, 87, 0.5186449579831933) 50%, rgba(2, 0, 36, 1) 100%);
}

.text-body {
    padding: 0.5rem;
    backdrop-filter: blur(3px) saturate(109%);
    background-color: rgba(255, 255, 255, 0.16);
    border: 1px solid rgba(255, 255, 255, 0.125);
    font-size: 1rem;

}

p {
    margin-top: .5rem;
}

.text-success-emphasis {
    color: #539165 !important;
    padding: 0.5rem;
    backdrop-filter: blur(3px) saturate(109%);
    background-color: rgba(255, 255, 255, 0.16);
    border: 1px solid rgba(255, 255, 255, 0.125);
    font-size: 1.5rem;
}

.container-text-details {
    margin-bottom: 1rem;
}